@use '../../../Styles/Colors.scss' as colors;
@use '../../../Styles/Fonts.scss' as fonts;
@use '../../../Styles/Formats.scss' as formats;


.Build_Shere {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: right;

  .Content{
    width: calc(100% - 250px);
    height: auto;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}